@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500;562;600;700&display=swap');
*{
    margin: 0;
    padding: 0;

}
html{
    scroll-behavior: smooth;
}
#carta{
    position: fixed;
    width: 100%;
    height: 100vh;
    
    background: #DC2424;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #4A569D, #DC2424);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #4A569D, #DC2424); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    ._container{
        position: fixed;
        width: 100%;
        height: 100vh;
        display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    
    h1{
        font-size: 8vw;
        color:#fff;
        font-family: 'Dancing Script',sans-serif;
    }
    ._round{
        margin-top: 6vh;
        border-radius: 50%;
        background-color: white;
        width: 15vh;
        height:15vh;
        display: flex;
        align-items: center;
        justify-content: center;
        animation : shake 0.3s infinite;

        img{
            width: 12vh;
            height: 12vh;
           
        }
       .notification{
        position: absolute;
        right: 0;
        top: 0;
        width: 18px;
        height: 18px;
        color: white;
        background-color: red;
        border-radius: 50%;
        text-align: center;
       }
    }
    }
   
}

#content{
    position: absolute;
    backdrop-filter: blur(4px);
    background-color: #fff;
    top:100vh;
    width: 100%;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
    background: #DC2424;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #4A569D, #DC2424);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #4A569D, #DC2424); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    .text{
        flex:0.75 0 200px;
        background-color: #fff;
        height: 75vh;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;

        .unicorn{
            position: absolute;
            top:2vh;
            left:50%;
            border-radius: 50%;
            width: 20vh;
            height: 20vh;
            transform: translateX(-50%);
            background-color: white;
            box-shadow:

            0 2.8px 2.2px rgba(0, 0, 0, 0.034),
            0 6.7px 5.3px rgba(0, 0, 0, 0.048),
            0 12.5px 10px rgba(0, 0, 0, 0.06),
            0 22.3px 17.9px rgba(0, 0, 0, 0.072),
            0 41.8px 33.4px rgba(0, 0, 0, 0.086),
            0 100px 80px rgba(0, 0, 0, 0.12)
          ;
            img{

                border-radius: 50%;
                width: 18vh;
                height: 18vh; 
            }

        }
        h1{
            font-family: 'Dancing Script',sans-serif;
            font-weight: 700;
            font-size: 2em;

        }
        p{
            font-family: 'Dancing Script',sans-serif;
            margin:15px;
            line-height: 1.75em;
            font-size: 3vh;
        }
        
    }
}
@media (max-width:700px){
   #content{
       .text{
        p{
            line-height: 1.25em;
        }
       }
   }
}

@keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }

